{extends $original_template}
{block table-class}table table-hover table-striped table-bordered table-grid{/block}
{block icon-sort}<i class="fa fa-arrows-v fa-2x"></i>{/}
{block icon-sort-up}<i class="fa fa-arrow-circle-o-up fa-2x"></i>{/}
{block icon-sort-down}<i class="fa fa-arrow-circle-o-down fa-2x"></i>{/}
{block icon-caret-down}<i class="fa fa-bank fa-2x"></i>{/}
{block icon-chevron}<i class="fa fa-bath fa-2x"></i>{/}
{block icon-handle-short}<i class="fa fa-bath fa-2x"></i>{/}
