{var $slider_o = is_file('www/files/slider/'.$item->subor) ? 'files/slider/'.$item->subor : 'images/otaznik.png'}
<img class="jslghtbx-thmb img-rounded slider-small-img" src="{$basePath}/www/{$slider_o}" alt="obrázok" data-jslghtbx="{$basePath}/www/{$slider_o}" data-jslghtbx-group="mygroup1">
<p n:if="$popis" class="slider-file-name">{$item->subor}</p>
     