{block content}
<div class="col-12">
  {control titleArticle admin_links=>$admin_links}

  {control titleImage}

  {control zobrazClanok}

  <main-documents-part 
    base-path="{$basePath}"
    id_hlavne_menu="{$clanok->id_hlavne_menu}"
    admin-links="{($admin_links|to_json)}"
    active-tab="{$tabs}"
  >
  </main-documents-part>
</div>