/log/
/temp/
/vendor/
/app/config/config.local.neon
/app/config/database.neon
/api/
/_doc/
/www/webtemp/
/node_modules/
/www/files/
/www/fonts/
deployment.ini
deployment.log
composer.lock
/tests/_temp/
/tests/webtemp/
/www/files/dokumenty/
/www/editors/filemanager/userfiles/
/www/files/fotogalery/
/app/FrontModule/config/recaptcha.neon
/www/dist/
.history