@charset "utf-8";

body{

	margin: 0; padding: 0;

	background: url(Obr/bg_body.jpg) repeat-x;

	font-family: Georgia, "Times New Roman", Times, serif;

	font-size: 12px;

}



/*--- vseobecne vlastnosti pre prvky --------------------------------------------------*/

h1, h2, h3, h4, a, label, #pata p, noscript, #odrobinky, #logofsc p, .st_dobre, .st_zle{

	font-family: "Myriad Pro", "Trebuchet MS", Arial, Helvetica, sans-serif;

}

h1{

	float:left;

	margin: 0 0 0 5%;

	color: #fff;

	font-weight: 400;

	font-size: 320%;

	line-height: 120px;

	text-align: left;

	text-shadow: 0.1ex 0.1ex 0.2ex #222; 

	

}

h2{

	margin: 0; padding: 1ex 0 0 0;

	color: #893;

	font-weight: 600;

	font-size: 200%;

}

h3{

	margin: 0; padding: 1em 0 0.5em 0;

	color: #555;

	font-weight: 600;

	font-size: 150%;

}

h3 .datum{

	font-size: 70%; /*foto*/

}

h3 span{

	display: block;

	font-size: 80%;

	color: #777;

}

h4{

	margin: 0; padding: 10px 0 5px 0;

	color: #000;

	font-weight: 600;

	font-size: 120%;

}



a{

	color: #c33;

	font-weight: 600;

	text-decoration: none;

}

a:hover{

	text-decoration: underline;

}



/*--- cely dokument --------------------------------------------------*/

#dokument{

	margin: 0 auto; padding: 0;

	width: 100%;

	background: url(Obr/vetva_01.jpg) no-repeat top left;

}



/*--- velka hlavicka --------------------------------------------------*/

#hlavicka{

	margin: 0 auto; padding: 0;

	width: 75%; max-width: 1024px; height: 300px; 

	overflow: visible;

	/*background: url(Obr/erbpp.png) no-repeat right top;*/

}

#logo{

	float: left;

	margin: 2ex 1%;

	border: none;

}

#logo a, #logo img{

	border: none;

}

#vetvicka{

	position: absolute;

	top: 300px; left: 0px;

}

.h1male{

	font-size: 60%;

	line-height: 100%;

}



/*--- vedlajsie menu (o nas, kontakt) --------------------------------------------------*/

#subnavigacia{

	margin: 0;

	overflow: hidden;

	/*width: 20%;*/

	float: right;

}

#subnavigacia ul{

	margin: 0; padding: 0;

	float: right;

}

#subnavigacia li{

	float: left;

	margin: 0 2px 0 0; padding: .8ex;

	list-style: none;

	background: url(Obr/bg_submenu.png) #fff repeat-x;

}

#subnavigacia li:hover{

	background: url(Obr/bg_submenuH.png) #fc6 repeat-x;

}

#subnavigacia a{

	color: #f60;

	font-size: 130%;

	font-weight: 600;

	text-decoration: none;

}

#prihlas1{

	display:none;

}



/*--- mala hlavicka --------------------------------------------------*/

#hlavickaM{

	margin: 41px 0 0 0;

	background: #9c0;

	border-top: 6px solid #fff;

	border-right: 6px solid #fff;

	clear: left;

}

  /*--- hlavne menu --------------------------------------------------*/

  #navigacia{

	  clear: left;

	  float:left;

	  margin: 0;

	  width: 20%; min-width: 100px;

  }

  #navigacia ul{

	  margin: 0; padding: 0;

	  border: 4px #fff solid;

	  border-top: none;

	  background: #fff;

  }

  #navigacia li{

	  padding: 1.2ex;

	  border: 2px #fff solid;

	  background: url(Obr/bg_menu.png) repeat-x #c75a09;

	  list-style: none;

  }

  #navigacia li:hover, #navigacia li.aktivny #sub1 li:hover, #sub2 li:hover{

	  background: url(Obr/bg_menuH.png) repeat-x #fc6;

  }

  #navigacia li a{

	  color: #fff;

	  font-size: 150%;

	  font-style: italic;

	  font-weight: 300;

	  text-decoration: none;

  }

  #navigacia li:hover a, #navigacia li.aktivny #sub1 li:hover a{

	  color: #000;

	  text-decoration: underline;

  }

  #navigacia li.aktivny{

	  padding: 1.3ex; padding-right: 0;

	  background: url(Obr/bg_menuA.png) repeat-x #933;

	  list-style-image: url(Obr/sipka_menu.png);

	  list-style-position: inside;

  }

 

 #navigacia li.aktivny a, #navigacia li.aktivny #sub1 li.aktivny2{

	  color: #cf2;

	  font-family: "Myriad Pro", "Trebuchet MS", Arial, Helvetica, sans-serif;

	  font-size: 150%;

	  font-style: italic;

	  font-weight: 300;

	  text-decoration: none;

  }

  #navigacia li.aktivny:hover a{

	  color: #fff;

	  text-decoration: none;

  }

  /*--- navigácia 2. úroveň --------------------------------------------------*/

#navigacia #sub1{

	  margin: 1.4ex 0 -1.3ex -1.3ex; padding: 0;

	  border: none;

	  border-top: 2px #fff solid;

  }

#navigacia li.aktivny #sub1 li{

	  list-style: none;

	  margin: 0 0 0 6px; padding: 0.6ex 1ex;

	  background: url(Obr/bg_submenu1.png) #850 repeat-x;

	  border: 2px solid #fff;

	  border-bottom: none;

  }

#navigacia li.aktivny #sub1 li a{

	  font-size: 140%;

	  color: #fff;

	  font-weight: 300;

  }

#navigacia li.aktivny #sub1 li.aktivny2{

	  padding: 1ex;

	  list-style-image: url(Obr/sipka_menu.png);

	  list-style-position: inside;

  }

#navigacia li.aktivny #sub1 li.aktivny2{

	  font-size: 140%;

  }

  #navigacia li.aktivny #sub1 li.aktivny2:hover{

	  background: url(Obr/bg_submenu1.png) #850 repeat-x;

  }

  #sub2{

	  margin: 2ex 0; padding: 0;

	  width: 100%;

	 /* float: left;*/

          display: inline-block;

	  /*background: #ccc;*/

  }

 #sub2 li{

	  margin: 0; padding: 1ex;

	  border-right: 3px solid #fff;

	  border-bottom: 3px solid #fff;

	  float: left;

	  background: url(Obr/bg_submenu2.png) #680 repeat-x;

	  list-style: none;

  }

  #sub2 li a{

	 font-size: 120%;

	 font-weight: normal;

	 color: #fff;

  }

  #sub2 li:hover a{

	 color: #000;

  }

  /*--- navigacia v administrácii --------------------------------------------------*/

   #navigacia li.adminPol,#navigacia li.aktivny #sub1 li.adminPol{

	  background: url(Obr/bg_menuAd1.png) repeat-x #9c0;

  }

  #navigacia li.adminPol a, #navigacia li.aktivny #sub1 li.adminPol a{

	  color: #000;

  }

   #navigacia li.adminPol.aktivny a{

	  color: #711;

  }

  /*--- vyhladavaci formularik --------------------------------------------------*/  

  #hladat fieldset{

	  border: none;

	  padding: 0;

	  text-align: left;

  }

  #hladat label{

	  color: #000;

	  font-size: 120%;

  }

  #hladat img{

	  float: right;

  }

  #vyhladavanie{

	  width: 70%;

	  margin: 0.5ex 0;

  }

input.najdi{

	background: url(ikonky/32/lupa32.png) no-repeat center;

	width: 32px;

	height: 32px;

	color: white;

	border: none;

}

  /*--- slider --------------------------------------------------*/

  #slider{

	  background: #fff;

	  overflow: hidden;

	  border-right: 6px solid #fff;

	  width: 64%; height: 250px;

  }

  noscript{

	  background: #fff;

	  color: #630;

	  float: right;

  }

  #ft-next-slider, #ft-prev-slider{ 

	  display:block;

	  width: 29px; height: 30px;

	  background: url(Obr/sipka_next.png) no-repeat;

  }

  #ft-prev-slider{ 

	  background: url(Obr/sipka_prev.png) no-repeat;

  }

  #ft-buttons-slider{

	  display: none;

  }

  .ft-title {

	  width: 100%; text-align: left;

	  font-weight: 600; font-size: 110%; font-style: italic;

	  color: #ddd;

	  padding: 1ex 2ex;

  }



  #logofsc{

	  float: right;

	  width: 14%;

	  text-align: center;

	  padding: 82px 0.5% 0 0 ;

  }

  #logofsc:hover p{

	  text-decoration: none;

  }

  #logofsc p{

	  font-size: 95%;

	  color: white;

	  text-decoration: none;

  }



/*--- obsahova cast --------------------------------------------------*/

#obsah{

	margin: 90px auto 0 auto; padding: 0;

	width: 75%; max-width: 1024px;

}

.datum{

	color: #777;

	font-style: italic;

	font-weight: 600;

}

#odrobinky{

	color: #333;

	font-style: italic;

}

#clanok{

	margin: 0 0 0 22%;

	overflow: visible;

}
#clanok h3{

	margin: 1ex;

}

#clanok p{

	margin: 0.5em 2em 1em 0;

	text-indent: 3ex;

}

#clanok img.vpravo{

	float: right;

	margin-left: 1ex; 

	border: 3px #999 solid;

}

#clanok img.vlavo{

	float: left; margin-right: 1ex; 

	border: 3px #999 solid;

}

.uvod{

	margin: 2ex 5ex 0 22%; padding: 0;

	text-indent: 2ex;

	font-size: 110%;

}

h2.uvodny{

	font-size: 200%;

	text-indent: 0;

	line-height: 80%;

}

h2.oznamy{

	clear:left;

	margin: 0 0 0 -27%; padding: 2px 0;

}



.oznam{

        display: inline-block;

	margin: 1ex 0 0 -27%; padding: 1.2ex;

	background-color: #ddd;

	background-image: url(Obr/bg_grey.png);

	background-repeat: repeat-y;

	background-position: 250px 0;

	background-attachment: fixed;

	overflow: hidden;

}

.oznam img{

	float:left;

	margin-bottom: 2ex;

}

.oznam img.vlavo{

	float:left;

	margin: 1ex;

	margin-left: 0;

	border: 3px solid #ddd;

}

.oznam img.vpravo{

	float:right;

	margin: 2ex 0 2ex 2ex;

	border: 3px solid #ddd;

}

.oznam p{

	padding: 0; margin: 0 5ex 0 0;

	text-indent: 2ex;

}

.oznam .ikonky{

	padding: 1ex; margin: 1ex 5ex 1ex 1ex;

	border: 4px solid #fff;

}

.ui-widget-content .oznam{

	background: #fcfcfc;

	padding: 1ex;

}

/*--- fotogaleria --------------------------------------------------*/

.album{

	width: 48%;

	background: #bbb url(Obr/bg_album.jpg) no-repeat;

	float:left;

	text-align: center;

	margin: 1px;

}

.album img{

	border: #fff 6px solid;
	margin-bottom: 4ex;

}

.album img{

	border: #fff 6px solid;

}

.albumRiadok{

	display: table;

	overflow: hidden;

	background: #be5; 

	border-top: 10px solid #be5;

	border-bottom: 1px solid #fff;

	width: 100%; padding: 1ex 0;

}

.albumRiadok div{

	width: 24%;

	display: inline-table;

	vertical-align: middle;

	text-align: center;

	margin: auto 0;

}

.albumRiadok img{

	margin: 0 auto;

	border: 4px #fff solid;

}



/*--- footer --------------------------------------------------*/

#pata{

	text-align: center;

	float: left;

	clear:left;

	margin: 2% 0 0 0; padding: 0;

	width: 100%; min-height: 150px;

	background: url(Obr/bg_footer.png) repeat-x bottom;

}

#pataObr{

	clear: left;

	width: 100%; height: 110px;

	background: #6C3 url(Obr/footer.jpg) repeat-x left bottom;
	
	text-align: center;

}

#mapa{

	margin: 0 auto; padding: 2% 0 0 2%;

	width: 75%;

	text-align: center;

}

#pata p{

	margin: 15px 0 0 0;

	text-align: center;

	font-size: 90%;

	color: #fff;

}

#pata ul{

	clear: left;

	float: left;

	margin: 0; padding: 0;

}

#pata .mapaStlpec{

	float: left;

	margin: 0; padding: 0 0 0 1%;

	width: 15%;

	text-align: left;

	border-right: 1px dotted #fff;

}

#pata .mapaStlpec h3{

	height: 3.5ex; width: 90%;

	line-height: 90%;

	padding: 0;

}

#pata .mapaStlpec h3 a{

	color: #ef6;

	font-size: 80%;

	font-weight: 300;

}

#pata .mapaStlpec li{

	list-style: none;

	margin: 5px 0;

	line-height: 80%;

}

#pata .mapaStlpec li a{

	

}

#pata .mapaStlpec ul a{

	color: #fff;

	font-weight: 300;

	font-size: 90%;

}

/* --------------- vypisovanie hlaseni --------------*/

.st_dobre, .st_zle {

	color: #582;

	background: #ddd url(ikonky/48/info48.png) no-repeat top left;

	border-left: 6px solid #ddd; 

	padding: 15px 3px 15px 65px; margin: 10px 2px;

	font-weight: bold;

	font-style: italic;

	font-size: 150%;

}



.st_zle {

	color: #900;

	background-image: url(ikonky/48/vykricnik48.png);

}
/* --------------- tabulka zverejnovanych dokumentov --------------*/
table.dokumenty {
	width: 100%;
}
.dokumenty th{
	background: #6a4;
	color: white;
	padding: 1.5ex;
}
.dokumenty tr.r1 td{
	background: #eee;
	padding: 1ex;
}
.dokumenty tr.r0 td{
	background: #ccc;
	padding: 2ex;
}