<div class="row">
  <div class="col-12 p-0">
    <h4>{_'base_component_news_h4'}</h4>
    <ul n:inner-foreach="$news as $n">
      <li>
        <span>{$n->created|date:'j.n.Y'}</span>
        <p>{$n->text|noescape}</p>
      </li>
    </ul>
  </div>    
</div>