#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
services:
  - App\Model\UserManager
  authorizator: App\Model\AuthorizatorFactory::create(@Nette\Database\Context)
  - DbTable\Admin_menu
  - DbTable\Clanok_komponenty
  - DbTable\Clanok_lang
  - DbTable\Dlzka_novinky
  - DbTable\Dokumenty
  - DbTable\OldDokumenty
  - DbTable\Druh
  - DbTable\Faktury
  - DbTable\Hlavicka
  - DbTable\Hlavne_menu
  - DbTable\Hlavne_menu_lang
  - DbTable\Hlavne_menu_cast
  - DbTable\Hlavne_menu_opravnenie
  - DbTable\Hlavne_menu_template
  - DbTable\Ikonka
  - DbTable\Lang
  - DbTable\News
  - DbTable\Oznam
  - DbTable\Slider(%slider.dir%, %wwwDir%)
  - DbTable\Udaje
  - DbTable\Udaje_typ
  - DbTable\User_categories
  - DbTable\User_in_categories
  - DbTable\User_main
  - DbTable\User_prihlasenie
  - DbTable\User_profiles
  - DbTable\User_roles
  - DbTable\Verzie

  - App\RouterFactory 
  router: @App\RouterFactory::createRouter
  Texy: TexylaExample\MyTexy(@httpRequest)

# services for language support
  - Language_support\LanguageMain

# PeterVojtech
  - PeterVojtech\MainLayout\Favicon\IFaviconControl
  - PeterVojtech\Email\EmailControl(%admin_email%)
