{var $robots = noindex}

{block content}
<div class="col-12">
  <h2 n:block=title>{$h2}</h2>
  <verzie-edit-form
    id="{$verzia_id}"
    base-path="{$basePath}"
  >
  </verzie-edit-form>
</div>