<nav id="nav-footer" n:ifset="$startNode">
  <ul n:class="nav, 'justify-content-center', $nastav['divClass'] ? $nastav['divClass']"
      n:inner-foreach="$startNode->nodes as $node">
    <li n:if="$node->id > 0 && $node->parent->id < 0" {* class="nav-item"*}>
      <a href="{$node->link}" title="{$node->name}">{$node->name}</a>
    </li>
  </ul>
</nav>