/* AUTHOR: Peter VOJTECH; CREATION DATE: 24.04.2012 */
/* UPDATED 21.11.2016 */
body {
  background-color: transparent;
}

a[href^="error:"] {
  background: red;
  color: white;
}
h2 {
  font-weight: bold;
}
.form-group {
  display: inline-block;
  width: 100%;
}
div.required label{
  color: #8B0000;
}
div.required input{
  border: 1px solid #8B0000;;
}
#snippet-confirmForm-confirmDialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 10% 30%;
  text-align: center;
}
#snippet-confirmForm-confirmDialog .modal {
  display: inline-block;
  margin: 0;
  padding: 1em 3em;
  width: 100%;
  background-color: #e66;
  background-repeat: no-repeat;
  background-position: 1em center;
  background-image: url("../www/images/upozornenie_c.png");
  color: white;
  font-weight: bold;
  border: .3em solid red;
  text-align: center;
}
#snippet-confirmForm-confirmDialog .confirmation-dialog--form input {
  border: .1em solid #333;
  background-color: #999;
  color: #fff;
  font-weight: bold;
  padding: .3em;
}
#snippet-confirmForm-confirmDialog .confirmation-dialog--form #frm-confirmForm-form-yes {
  background-color: #c03;
}
#snippet-confirmForm-confirmDialog .confirmation-dialog--form #frm-confirmForm-form-no {
  background-color: #228B22;
}
#dispNone {
  display: none;
}
#dispBlock {
  display: block;
}
a.pridaj,
a.edit,
a.vymaz,
a.delPocitadlo {
  text-shadow: none;
  border: 1px outset rgba(50, 50, 50, 0.2);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
  color: transparent !important;
  display: inline-block;
  height: 16px;
  width: 16px;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
a.pridaj {
  background-image: url(../www/ikonky/16/pridaj_16.png);
}
a.edit {
  background-image: url(../www/ikonky/16/uprav_16.png);
}
a.vymaz {
  background-image: url(../www/ikonky/16/vymaz_16.png);
}
a.delPocitadlo {
  background-image: url(../www/ikonky/16/document_delete16.png);
}
a.pridaj:hover,
a.edit:hover,
a.vymaz:hover,
a.delPocitadlo:hover {
  background-color: silver;
  background-color: rgba(50, 50, 50, 0.2);
  border: 1px inset rgba(50, 50, 50, 0.2);
  opacity: 1;
}
input[type=submit] {
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
header {
  position: relative;
  width: 100%;
  background-color: transparent;
}
.top-header {
  height: 71px;
  overflow: visible;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1.5em;
  background-color: #dfdfdf;
  background: url(../www/images/top_header_background.png) repeat-x;
  border-radius: 0 0 1em 1em;
}
.top-header h1 {
  font-size: 120%;
  font-weight: bold;
  margin: 0 0 0 1em;
  max-width: 33%;
  float: left;
  -webkit-box-flex: 4;
  -moz-box-flex:  4;
  -webkit-flex:  4;
  -ms-flex:  4;
  flex: 4;

}
.top-header > div {
  text-align: center;
  background-color: transparent;
  z-index: 12;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex:  1;
  flex: 1;
  flex-basis: 267px;
}
.second-nav {
  text-align: right;
  -webkit-box-flex: 4;
  -moz-box-flex:  4;
  -webkit-flex:  4;
  -ms-flex:  4;
  flex: 4;
}
.second-nav ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.second-nav ul li {
  padding: 1ex;
  list-style: none;
  background: url(../www/images/bg_topmenu.png) repeat-x;
  background-attachment: fixed;
  background-position: 0 -50px;
  transition: background-position 0.4s;
  -moz-transition: background-position 0.4s;
  -webkit-transition: background-position 0.4s;
  border-bottom-right-radius: .3em;
  border-bottom-left-radius: .3em;
  -moz-border-radius-bottomright: .3em;
  -moz-border-radius-bottomleft: .3em;
  float: left;
  margin: 0 1px;
  z-index: 12;
}
.second-nav ul li.active {
  color: #eb0;
}
.second-nav ul li:hover {
  background-position: 0 0px;
}
.second-nav ul li a {
  color: #bb4400;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  z-index: 12;
  transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -webkit-transition: color 0.5s ease-in;
}
.second-nav ul li a:hover {
  color: #ffffff;
}
.second-nav ul li.selected a {
  color: #000000;
}
.main-header {
  margin: 0;
  width: 100%;
  background-color: #64c3f2;
  background: url(../www/images/main_header_background.jpg) repeat-x;
  padding: 1.5em .5em 1em .5em;
  border: 0.2em solid #999999;
  border-bottom: 0;
  -webkit-box-shadow: rgba(128, 128, 128, 0.5) 0 0.2em 0.3em;
  -moz-box-shadow: rgba(128, 128, 128, 0.5) 0 0.2em 0.3em;
  box-shadow: rgba(128, 128, 128, 0.5) 0 0.2em 0.3em;
  -webkit-border-radius: 1em 1em 0 0;
  -moz-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
  display: flex;
}
.main-nav {
  padding: 0 6% 0 0;
  float: left;
}
.main-nav li {
  padding: 1ex;
  margin: .5ex 1%;
  list-style: none;
  float: left;
  width: 48%;
  height: 10ex;
  background: #304f66;
  background-image: linear-gradient(top, #227cb2 30%, #304f66 70%);
  background-image: -o-linear-gradient(top, #227cb2 30%, #304f66 70%);
  background-image: -moz-linear-gradient(top, #227cb2 30%, #304f66 70%);
  background-image: -webkit-linear-gradient(top, #227cb2 30%, #304f66 70%);
  background-image: -ms-linear-gradient(top, #227cb2 30%, #304f66 70%);
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  border-radius: 0.8em;
  text-align: center;
  -moz-transition: float .5s;
}
.main-nav li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 110%;
}
.main-nav li a small {
  font-weight: normal;
  line-height: 90%;
  display: block;
  opacity: 0.7;
}
.main-nav li a > .fa {
  text-shadow: #09F 0 0 3px;
  font-weight: bold;
  font-size: 120%;
  display: block;
  margin: 0 auto;
}
.main-nav li:hover {
  background: #D34300;
  background-image: linear-gradient(top, #dd6600 30%, #bb4400 70%);
  background-image: -o-linear-gradient(top, #dd6600 30%, #bb4400 70%);
  background-image: -moz-linear-gradient(top, #dd6600 30%, #bb4400 70%);
  background-image: -webkit-linear-gradient(top, #dd6600 30%, #bb4400 70%);
  background-image: -ms-linear-gradient(top, #dd6600 30%, #bb4400 70%);
}
.main-nav li:hover a b {
  text-shadow: #fc3 0 0 3px;
  font-size: 140%;
}
.main-nav li.selected, .main-nav li.in-path {
  background-image: linear-gradient(top, #bb4400 30%, #dd6600 70%);
  background-image: -o-linear-gradient(top, #bb4400 30%, #dd6600 70%);
  background-image: -moz-linear-gradient(top, #bb4400 30%, #dd6600 70%);
  background-image: -webkit-linear-gradient(top, #bb4400 30%, #dd6600 70%);
  background-image: -ms-linear-gradient(top, #bb4400 30%, #dd6600 70%);
}
.slider-panel {
  display: inline-block;
  padding: 0;
  width: 515px;
  max-height: 300px;
  background: #ffffff;
  overflow: hidden;
  text-align: center;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  margin: 0;
}
.slider-panel img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -50px;
  z-index: 2;
}
.main-content {
  -webkit-border-radius: 0 0 1em 1em;
  -moz-border-radius: 0 0 1em 1em;
  border-radius: 0 0 1em 1em;
  margin-top: 0;
  padding: 0 .5em 0 .5em;
  border: 0.2em solid #999999;
  border-top: 0;
  -webkit-box-shadow: rgba(128, 128, 128, 0.5) 0 0.2em 0.3em;
  -moz-box-shadow: rgba(128, 128, 128, 0.5) 0 0.2em 0.3em;
  box-shadow: rgba(128, 128, 128, 0.5) 0 0.2em 0.3em;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-flow: row wrap;
}
.top-panel, .article-podclanky, .article-main {
  flex: 1 100%;
}
.user-forms {
  -webkit-border-radius: /*0 0 1em*/ 1em;
  -moz-border-radius: /*0 0 1em*/ 1em;
  border-radius: /*0 0 1em */1em;
  margin-bottom: 1em;
}
.user-forms form {
  padding: 1em 0;
}
.user-forms .form-group {
  margin: 0 0 0 0;
  
}
@media all and (max-width: 995px) {
  .top-header h1, .top-header > div, .second-nav { 
    flex-basis: 33%;
    flex-grow: 1;
  }
  .second-nav ul li {
    padding: .1ex 1ex;
    float: none;
    background-attachment: initial;
    background-position: 0;
    margin: .3ex 0 0 0;
  }
}  
@media all and (min-width: 800px) {
  .article-main       { order: 1; flex: 3 80%; }
  .article-podclanky  { order: 2; flex: 1 20%; }
}
.top-panel {
  margin: 0; 
}
.breadcrumb-main {
  padding: 0 1em 0 0;
}
.breadcrumb {
  font-size: 90%;
  padding: .5ex 1ex;
  background-color: rgba(256,256,256,.5);
}
.breadcrumb>li+li:before {
  color: #304f66;
}
.fb-icon {
  text-align: right;
}
.user-panel {
  /*z-index: 1000;*/
  background-color: #ffffff;
  background-color: rgba(255,255,255,.8);
  display: inline-block;
  margin: 0;
  padding: 0.5ex;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-color: #416077;
  position: relative;
}
.user-panel ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.user-panel ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
.user-panel ul li a {
  color: #304f66;
  text-decoration: none;
  padding: 0 .1em;
  font-size: 1.2em;
  opacity: .6;
  vertical-align: middle;
  line-height: 1.5em;
}
.user-panel ul li a:hover {
  opacity: 1;
}
.user-panel ul li a img {
  height: 100%;
}
.user-panel ul li a.actual {
  color: #bb4400;
}
.user-panel ul li.separator {
  border-right: 1px solid #bb4400;
  margin: 0 .4em 0 0;
  padding: 0 .4em 0 0;
}
.user-panel a.prazdny {
  font-size: 1.35em;
  color: #304f66;
}
.user-panel a.prazdny:hover {
  color: #bb4400;
}
.user-panel a.lang.actual {
  opacity: 0.3;
}
.user-panel div.prihlasujem {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  color: red;
  font-size: 200%;
  z-index: 19;
  padding: 1.5em 2.5em;
  opacity: 1;
  -webkit-border-bottom-left-radius: .5em;
  -moz-border-radius-bottomleft: .5em;
  border-bottom-left-radius: .5em;
}
.user-panel #my-sign-in-form {
  width: 100%;
  display: none;
  background-color: #ffffff;
}
.user-panel #my-sign-in-form form table {
  padding: .4em;
  border: 0;
  background-color: transparent;
  color: #304f66;
}
.user-panel #my-sign-in-form form table tr {
  padding: 0 .4em;
}
.user-panel #my-sign-in-form form table tr th {
  width: 50%;
}
.user-panel #my-sign-in-form form table tr th label {
  width: 95%;
  display: inline-block;
  padding-left: 5%;
}
.user-panel #my-sign-in-form form table tr td {
  width: 65%;
  background-color: #ffffff;
  text-align: left;
}
.user-panel #my-sign-in-form form table tr td input {
  display: inline-block;
  color: #304f66;
}
.user-panel #my-sign-in-form a.fl {
  text-align: right;
  margin: .2em 1em .5em 0;
  padding: 0;
  color: #304f66;
  text-decoration: none;
  width: 90%;
  display: inline-block;
}
.user-panel #my-sign-in-form a.fl:hover {
  color: #bb4400;
}

article .article-telo .firstNew span,
#article .article-telo .firstNew span {
  background-color: #009918;
  color: whitesmoke;
  padding: .5ex;
  margin: .2ex;
}
article .article_table,
#article .article_table {
  border-top: 1px solid #304f66;
}
article .article_table:nth-child(2),
#article .article_table:nth-child(2) {
  border-top: 0;
}
.oznam {
  width: 59%;
  margin: 0;
  float: left;
}
.potvrdenieUcasti {
  clear: both;
  display: inline-block;
  margin: 0;
  padding: 0 1ex 0 0;
  width: 100%;
  float: left;
  font-size: 90%;
}
.potvrdenieUcasti>div {
  display: inline-block;
  margin: 0;
  padding: 0 1ex;
  width: 100%;
  border: 1px solid #999999;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
 }
.potvrdenieUcasti a {
  padding: 0 .25em;
}
.potvrdenieUcasti > span {
  padding: 0 .25em;
}
.potvrdenieUcasti .moja-ucast {
  color: #ffffff;
  background-color: #dd6600;
}
.potvrdenieUcasti fieldset legend {
  font-size: 110%;
  font-weight: bold;
  margin: 0;
}
.potvrdenieUcasti fieldset .volba-1 { color: #009918; }
.potvrdenieUcasti fieldset .volba-2 { color: #0070a3; }
.potvrdenieUcasti fieldset .volba-3 { color: #333333; }
.potvrdenieUcasti fieldset .volba-4 { color: #dd6600; }
.potvrdenieUcasti fieldset .volba-5 { color: #cc2222; }

.komentare {
  display: inline-block;
  margin: 0 1% 0 0;
  padding: 0 0.5em;
  width: 39%;
  border: 1px solid #999999;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.komentare .form-group {
  margin-bottom: 5px;
}
.komentare .komm {
  display: inline-block;
  margin: 0 0 0 0.5em;
  padding: 0;
  list-style-type: none;
  max-height: 25em;
  overflow-y: auto;
  font-size: 90%;
}
.komentare .komm li {
  padding: 0 .2em;
}
.komentare .komm .r1 {
  background-color: #304f66;
  color: #ffffff;
}
.article-oznam-zoznam {
  list-style-type: none;
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  border: 0.2em solid #999999;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 20%;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.article-oznam-zoznam li {
  display: block;
  margin: 0.1em 0;
  padding: 0.1em;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
.article-podclanky {
  background-color: #E8F8FF;
  padding: .5ex .2ex;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.article-podclanky h4 {
  background-color: rgba(128,128,128,.2);
  margin: .5ex 2%;
  padding: 1ex .2ex;
  text-align: center;
  width: 96%;
  border-top: 1px solid rgba(0,0,0,.5);
}
.article-podclanky h4:first-child {
  border-top: 0;
}
.article-podclanky ul {
  padding: 0;
  display: inline-block;
  width: 100%;
}
.article-podclanky ul li {
  list-style-type: none;
  float: left;
  margin: .2ex 2%;
  padding: .5em;
  background-color: #ddd;
  width: 96%;
  border: 1px solid #00c8f3;
}
.article-podclanky ul li p {
  font-size: 75%;
  margin: 0;
}

.mriezka > div {
  border: 0.2em solid #dddddd;
  margin: .2em;
  float: left;
  display: inline-block;
  height: 7em;
  padding: .5ex;
}
.mriezka .popis {
  font-size: 90%;
}

.podclanky li {
  list-style-type: none;
  margin: .2ex;
  border: 0.2em solid #dddddd;
  padding: .5ex;
  display: inline-block;
  float: left;
}
.podclanky li * {
  display: inline-block;
  height: 100%;
}
.podclanky li span {
  width: 100%;
}
.podclanky li a {
  position: relative;
  opacity: .75;
}
.podclanky li a:hover {
  position: relative;
  opacity: 1;
}
.podclanky .node-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(255,255,255,.75);
  text-align: center;
  height: 1.5em;
  width: 100%;
  font-weight: bold;
  border-top: 1px solid;
}
.not-found-avatar {
  width: 150px;
}
#footer {
  display: inline-block;
  margin: 1em 0 0 0;
  padding: 0;
  clear: both;
  width: 100%;
  background-color: #304f66;
  text-align: center;
  font-size: 80%;
  color: #ffffff;
  -webkit-border-top-left-radius: 1em;
  -webkit-border-top-right-radius: 1em;
  -moz-border-radius-topleft: 1em;
  -moz-border-radius-topright: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#footer ul{
  display: inline-block;
  margin: .2em 0 0 0;
}
#footer ul li{
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0 .15em;
  border-left: 1px solid #999;
}
#footer ul li a{
  color: #999999;
}
#footer ul li a:hover{
  color: #005a90;
}
#footer ul li:first-child{
  border: 0;
}
#footer ul li.selected a{
  color: #ffffff;
}
#footer p > span{
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 0.2em;
  padding: 0 0.2em;
}
@media (max-width: 770px) {
  .oznam_telo .oznam .potvrdenieUcasti {
    width: 43%;
  }
  .oznam_telo .oznam .komentare {
    width: 55%;
  }
  .oznam_telo .oznam .komentare .komm {
    width: 97%;
  }
  .article-oznam-zoznam {
    display: none;
  }
}
@media (max-width: 630px) {
  .main-nav {
    width: 55%;
  }
  .main-header .slider-panel {
    width: 45%;
    max-height: 160px;
  }
  .main-header .slider-panel img {
    top: 0;
  }
  .article-oznam-zoznam {
    display: none;
  }
}
@media (max-width: 493px) {
  .top-header {
    height: 90px;
    background-image: url(../www/images/logo_mobil.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .top-header h1 {
    padding: .5ex 0 0 0;
    width: 70%;
    background-color: rgba(255,255,255,.6);
  }
  .top-header > div {
    display: none;
  }
  .second-nav {
    padding: 0;
    width: 30%;
    background-color: rgba(255,255,255,.6);
  }
  .main-header .slider-panel {
    display: none;
  }
  .main-nav {
    width: 100%;
    padding: 0;
  }
  .breadcrumb {
    margin-bottom: 0;
  }
  .main-content {
    margin: 0;
  }
  .article-podclanky h4 {
    display: none;
  }
  .page-header {
    margin: 0;
    padding: 0;
  }
  .oznam {
    width: inherit;
  }
  .komentare {
    width: inherit;
    margin: 0;
    padding: 0 0 0 .2ex;
  }
  .potvrdenieUcasti {
    padding: 0;
  }
}
@media (max-width: 360px) {
  .top-header h1 {
    width: 100%;
    height: 50%;
    font-size: 100%;
    margin-top: .3ex;
    padding: 0;
  }
  .top-header h1 small {
    display: none;
  }
  .main-header {
    margin-top: 0;
  }
  .main-nav li {
    height: inherit;
  }
  .main-nav li a > .fa, .main-nav li a > small {
    display: none;
  }
  .main-content {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    clear: both;
  }
  .main-content #text {
    position: relative;
  }
  .slider-panel {
    display: none;
  }
  article, #article {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    margin-top: 0;
  }
  .article-main h2 {
    text-align: center;
  }
  .oznam_telo .oznam .potvrdenieUcasti {
    float: none;
    width: 100%;
  }
  .oznam_telo .oznam .komentare {
    width: 100%;
  }
  .oznam_telo .oznam .komentare .komm {
    width: 97%;
  }
  .user-panel ul li {
    height: 1em;
    line-height: 1em;
  }
  .user-panel ul li a {
    line-height: 1em;
    font-size: 1em;
  }
  .user-panel ul li.separator {
    margin-right: .2em;
    padding-right: .2em;
  }
  .panel-title a {
    display: inline-block;
  }
  .panel-title img {
    float: left;
    display: inline-block;
    margin: -1ex .2ex 0 0;
    height: 2em;
  }
  .article-podclanky ul li {
    padding: .2ex;
    width: 48%;
    margin: .2ex 1%;
  }
  .article-podclanky ul li p {
    display: none;
  }
  #footer{
    padding: .1em .3em;
  }
  #footer ul{
    display: none;
  }
}
