body{
	margin: 0; padding: 0;
	background: url(../www/images/bg_body.jpg) repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}

/*--- vseobecne vlastnosti pre prvky --------------------------------------------------*/
h1, h2, h3, h4, a, label, footer p, noscript, #odrobinky, #logofsc p, .st_dobre, .st_zle{
	font-family: "Myriad Pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1{
	float:left;
	margin: 0 0 0 5%;
	color: #fff;
	font-weight: 400;
	font-size: 320%;
	line-height: 120px;
	text-align: left;
	text-shadow: 0.1ex 0.1ex 0.2ex #222; 
}

h2{
	margin: 0; 
  padding: 1ex 0 1ex 0;
	color: #893;
	font-weight: 600;
	font-size: 200%;
}

h3{
	margin: 0; padding: 1em 0 0.5em 0;
	color: #555;
	font-weight: 600;
	font-size: 150%;
}

h3 .datum{
	font-size: 70%;
}

h3 span{
	display: block;
	font-size: 80%;
	color: #777;
}

h4{
	margin: 0; padding: 10px 0 5px 0;
	color: #000;
	font-weight: 600;
	font-size: 120%;
}

a{
	color: #c33;
	font-weight: 600;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.main-dokument{
	margin: 0 auto; padding: 0;
	width: 100%;
	background: url(../www/images/vetva_01.jpg) no-repeat top left;
}

/*--- velka hlavicka --------------------------------------------------*/

.hlavicka{
	margin: 0 auto; padding: 0;
	width: 75%; max-width: 1024px; height: 300px; 
	overflow: visible;
}

#logo{
	float: left;
	margin: 2ex 1%;
	border: none;
}

#logo a, #logo img{
	border: none;
}

#vetvicka{
	position: absolute;
	top: 300px; left: 0px;
}

.h1male{
	font-size: 60%;
	line-height: 100%;
}

/*--- vedlajsie menu (o nas, kontakt) --------------------------------------------------*/
.subnavigacia{
	margin: 0;
	overflow: hidden;
	float: right;
}

.subnavigacia ul{
	margin: 0; padding: 0;
	float: right;
}

.subnavigacia li{
  float: left;
	margin: 0 2px 0 0; padding: .8ex;
	list-style: none;
	background: url(../www/images/bg_submenu.png) #fff repeat-x;
}

.subnavigacia li:hover{
	background: url(../www/images/bg_submenuH.png) #fc6 repeat-x;
}

.subnavigacia a{
	color: #f60;
	font-size: 130%;
	font-weight: 600;
  text-decoration: none;
}

#prihlas1{
	display:none;
}

.hlavickaM{
	margin: 41px 0 0 0;
	background: #9c0;
	border-top: 6px solid #fff;
  border-right: 6px solid #fff;
	clear: left;
}

  /*--- hlavne menu --------------------------------------------------*/

.navigacia{
  clear: left;
  float:left;
  margin: 0;
  width: 20%; min-width: 100px;
}
.navigacia ul{
  margin: 0; padding: 0;
  border: 4px #fff solid;
  border-top: none;
  background: #fff;
}
.navigacia li{
  padding: 1.2ex;
  border: 2px #fff solid;
  background: url(../www/images/bg_menu.png) repeat-x #c75a09;
  list-style: none;
}
.navigacia li:hover, .navigacia li.selected #sub1 li:hover, #sub2 li:hover{
  background: url(../www/images/bg_menuH.png) repeat-x #fc6;
}
.navigacia li a{
  color: #fff;
  font-size: 150%;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}
.navigacia li:hover a, .navigacia li.in-path #sub1 li:hover a, .navigacia li.selected #sub1 li:hover a{
  color: #000;
  text-decoration: underline;
}
.navigacia li.selected, .navigacia li.in-path{
  padding: 1.3ex; padding-right: 0;
  background: url(../www/images/bg_menuA.png) repeat-x #933;
  list-style-image: url(../www/images/sipka_menu.png);
  list-style-position: inside;
}
.navigacia li.selected a, .navigacia li.in-path a, .navigacia li.in-path #sub1 li.selected{
  color: #cf2;
  font-family: "Myriad Pro", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 150%;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}
.navigacia li.selected:hover a, .navigacia li.in-path:hover a{
  color: #fff;
  text-decoration: none;
}

/*--- navigácia 2. úroveň --------------------------------------------------*/
.navigacia #sub1{
  margin: 1.4ex 0 -1.3ex -1.3ex; padding: 0;
  border: none;
  border-top: 2px #fff solid;
}
.navigacia li.selected #sub1 li{
  list-style: none;
  margin: 0 0 0 6px; padding: 0.6ex 1ex;
  background: url(../www/images/bg_submenu1.png) #850 repeat-x;
  border: 2px solid #fff;
  border-bottom: none;
}
.navigacia li.selected #sub1 li a{
  font-size: 140%;
  color: #fff;
  font-weight: 300;
}
.navigacia li.in-path #sub1 li.selected{
  padding: 1ex;
  list-style-image: url(../www/images/sipka_menu.png);
  list-style-position: inside;
}
.navigacia li.in-path #sub1 li.selected{
  font-size: 140%;
}
.navigacia li.in-path #sub1 li.selected:hover{
  background: url(../www/images/bg_submenu1.png) #850 repeat-x;
}

#sub2{
  margin: 2ex 0; padding: 0;
  width: 100%;
  display: inline-block;
}
#sub2 li{
  margin: 0; padding: 1ex;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  float: left;
  background: url(../www/images/bg_submenu2.png) #680 repeat-x;
  list-style: none;
}
#sub2 li a{
  font-size: 120%;
  font-weight: normal;
  color: #fff;
}
#sub2 li:hover a{
  color: #000;
}

/*--- vyhladavaci formularik --------------------------------------------------*/  
#hladat fieldset{
  border: none;
  padding: 0;
  text-align: left;
}
#hladat label{
  color: #000;
  font-size: 120%;
}
#hladat img{
  float: right;
}
#vyhladavanie{
  width: 70%;
  margin: 0.5ex 0;
}
input.najdi{
	background: url(../www/../www/ikonky/32/lupa32.png) no-repeat center;
	width: 32px;
	height: 32px;
	color: white;
	border: none;
}

/*--- slider --------------------------------------------------*/
.slider-main{
  background: #fff;
  overflow: hidden;
  border-right: 6px solid #fff;
  width: 64%; height: 250px;
}

  noscript{
	  background: #fff;
	  color: #630;
	  float: right;
  }

#ft-next-slider, #ft-prev-slider{ 
  display:block;
  width: 29px; height: 30px;
  background: url(../www/images/sipka_next.png) no-repeat;
}
#ft-prev-slider{ 
  background: url(../www/images/sipka_prev.png) no-repeat;
}
#ft-buttons-slider{
  display: none;
}
.ft-title {
  width: 100%; text-align: left;
  font-weight: 600; font-size: 110%; font-style: italic;
  color: #ddd;
  padding: 1ex 2ex;
}
#logofsc{
  float: right;
  width: 14%;
  text-align: center;
  padding: 82px 0.5% 0 0 ;
}
#logofsc:hover p{
  text-decoration: none;
}
#logofsc p{
  font-size: 95%;
  color: white;
  text-decoration: none;
}

/*--- obsahova cast --------------------------------------------------*/
.main-content{
	margin: 90px auto 0 auto; padding: 0;
	width: 75%; max-width: 1024px;
}

.datum{
	color: #777;
	font-style: italic;
	font-weight: 600;
}

.breadcrumb {
  margin-bottom: 0;
  color: #333;
	font-style: italic;
  margin: 0 0 0 22%;
}

.user-panel {
  background-color: #ffffff;
  background-color: rgba(255,255,255,.8);
  margin: 0 0 0 22%;
  padding: 0.5ex;
  position: relative;
}
.user-panel ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.user-panel ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}
.user-panel ul li a {
  color: #304f66;
  text-decoration: none;
  padding: 0 .1em;
  font-size: 1.2em;
  opacity: .6;
  vertical-align: middle;
  line-height: 1.5em;
}
.user-panel ul li a:hover {
  opacity: 1;
}
.user-panel ul li a img {
  height: 100%;
}
.user-panel ul li a.actual {
  color: #bb4400;
}
.user-panel ul li.separator {
  border-right: 1px solid #bb4400;
  margin: 0 .4em 0 0;
  padding: 0 .4em 0 0;
}
.user-panel a.prazdny {
  font-size: 1.35em;
  color: #304f66;
}
.user-panel a.prazdny:hover {
  color: #bb4400;
}
.user-panel a.lang.actual {
  opacity: 0.3;
}

.flash-messages {
  display: inline-block;
  width: 50%; 
}

.article-main{
	margin: 0 0 0 22%;
	overflow: visible;
}
.article-main .page-header {
  margin-top: 10px;
}
.article-main .main-text {
  display: inline-block;
  width: 100%;
}
.article-main h3{
	margin: 1ex;
}
.article-main p{
	margin: 0.5em 2em 1em 0;
	text-indent: 3ex;
}
.article-main img.vpravo{
	float: right;
	margin-left: 1ex; 
	border: 3px #999 solid;
}
.article-main img.vlavo{
	float: left; margin-right: 1ex; 
	border: 3px #999 solid;
}

.uvod{
	margin: 2ex 5ex 0 22%; padding: 0;
	text-indent: 2ex;
	font-size: 110%;
}
h2.uvodny{
	font-size: 200%;
	text-indent: 0;
	line-height: 80%;
}
h2.oznamy{
	clear:left;
	margin: 0 0 0 -27%; padding: 2px 0;
}
.oznam{
  display: inline-block;
	margin: 1ex 0 0 -27%; padding: 1.2ex;
	background-color: #ddd;
	background-image: url(../www/images/bg_grey.png);
	background-repeat: repeat-y;
	background-position: 250px 0;
	background-attachment: fixed;
	overflow: hidden;
}
.oznam img{
	float:left;
	margin-bottom: 2ex;
}
.oznam img.vlavo{
	float:left;
	margin: 1ex;
	margin-left: 0;
	border: 3px solid #ddd;
}
.oznam img.vpravo{
	float:right;
	margin: 2ex 0 2ex 2ex;
	border: 3px solid #ddd;
}
.oznam p{
	padding: 0; margin: 0 5ex 0 0;
	text-indent: 2ex;
}
.oznam .ikonky{
	padding: 1ex; margin: 1ex 5ex 1ex 1ex;
	border: 4px solid #fff;
}
.ui-widget-content .oznam{
	background: #fcfcfc;
	padding: 1ex;
}

/*--- fotogaleria --------------------------------------------------*/
.album{
	width: 48%;
	background: #bbb url(../www/images/bg_album.jpg) no-repeat;
	float:left;
	text-align: center;
	margin: 1px;
}
.album img{
	border: #fff 6px solid;
  margin-bottom: 4ex;
}
.album img{
	border: #fff 6px solid;
}
.albumRiadok{
  display: table;
	overflow: hidden;
	background: #be5; 
	border-top: 10px solid #be5;
	border-bottom: 1px solid #fff;
	width: 100%; padding: 1ex 0;
}
.albumRiadok div{
	width: 24%;
	display: inline-table;
	vertical-align: middle;
	text-align: center;
	margin: auto 0;
}
.albumRiadok img{
	margin: 0 auto;
	border: 4px #fff solid;
}

/*--- footer --------------------------------------------------*/
footer{
	text-align: center;
	float: left;
	clear:left;
	margin: 2% 0 0 0; padding: 0;
	width: 100%; 
	background: url(../www/images/bg_footer.png) repeat-x bottom;
}
#pataObr{
	clear: left;
	width: 100%; height: 110px;
	background: #6C3 url(../www/images/footer.jpg) repeat-x left bottom;
  text-align: center;
}
footer p{
	margin: 15px 0 0 0;
	text-align: center;
	font-size: 90%;
	color: #fff;
  display: inline-block;
  width: 100%;
}
footer ul{
  padding: 2% 0 0 2%;
	text-align: center;
  display: inline-block;
}
footer li{
	float: left;
	margin: 0; padding: 0 1ex;
	text-align: left;
	border-right: 1px dotted #fff;
  list-style-type: none;
}
footer li a{
	color: #ef6;
	font-weight: 300;
}

/* --------------- tabulka zverejnovanych dokumentov --------------*/
table.dokumenty {
	width: 100%;
}
.dokumenty th{
	background: #6a4;
	color: white;
	padding: 1.5ex;
}
.dokumenty tr.r1 td{
	background: #eee;
	padding: 1ex;
}
.dokumenty tr.r0 td{
	background: #ccc;
	padding: 2ex;
}