/* AUTHOR: Peter VOJTECH ml. - VZ; CREATION DATE: 03.06.2011 */
/* UPDATED 17.07.2017 - PV*/
input {
  color: #000;
}
.user-info {
  padding-bottom: 1ex;
}
.user-info dl {
  margin: 0;
}
.user-info dt {
  font-weight: normal;
}
.user-info dd {
  font-weight: bold;
  margin: 0 0 1ex 1ex;
  padding: .75ex; 
  border: 1px solid #ccc;
  border-radius: .5ex;
}
.user-info a.btn {
  margin: .5ex 0;
  width: 100%;
}
.user-info input[type="text"] {
  width: 100%;
}
.user-info input[type="submit"] {
  width: 49%;
}
.datagrid {
  background-color: transparent;
}
.table-hover > tbody > tr:hover {
  background-color: #5f5f5f;
}
.datagrid .row-grid-bottom {
  background-color: transparent;
  color: #fff;
}
.text-muted {
  color: #bbb;
}
.datagrid .btn-primary:active, .datagrid .btn-primary.active {
  background-color: #006400;
}
footer .nav li:last-child {
  border-right: 0; 
}
body {  
  background: url(../www/images/bg-obloha.jpg) top left repeat-x fixed rgba(229,247,255,1.00);
}
.modal {
  top: 50px;
}
.modal-content {
  color: #000;
}
.foto-album .thumbnail {
  border: none;
}
.foto-album .thumbnail div{
  text-align: center;
}
footer .footer-info {
  padding-bottom: 0;
}
footer .footer-info li, .vstup-admin, footer .user-lang-menu ul.nav li {
  font-size: 85%;
}
footer .user-lang-menu ul.nav {
  padding: 0;
}
.map {
  width: 50%;
  height: 250px;
}