{* Sablona pre zobrazenie aktualnych projektov
 *
 * Modul: FRONT
 *
 * Posledna zmena(last change): 28.02.2022
 * @copyright  Copyright (c) 2012 - 2022 Ing. Peter VOJTECH ml.
 * @license
 * @link       http://petak23.echo-msz.eu
 *
 * @param array    $clanok      clanky z DB
 * @param array    $texts       texty pre jazykové varianty
 * @param array    $error       chybove hlasenie
 * @param array    $avatar_path cesta k titulnemu obrazku clanku
*}
<div n:snippet="aktualnyProjektSablona" class="zobraz-clanok">
	<h2>{$texts->trText('aktualny_projekt_h2')}</h2>
  {if $clanok}
    {foreach $clanok as $c}
      <h3><a href="{plink Clanky:default $c->id_hlavne_menu}" title="{$c->view_name}">{$c->view_name}</a></h3>
      <div n:ifset="$error" class="st_upozorni">{$error}</div>
      <a href="{plink Clanky:default $c->id_hlavne_menu}" title="{$c->view_name}">
        <div class="avatar-img" n:if="$c->hlavne_menu->avatar"> {*  && is_file('www/'.$avatar_path.$c->hlavne_menu->avatar)*}
          <img src="{$basePath}/www/{$avatar_path}{$c->hlavne_menu->avatar}" alt="{$texts->trText('aktualny_projekt_h2')}: {$c->menu_name}">
        </div> 
        {if $c->anotacia}
          {$c->anotacia}
        {/if}
      </a>
    {/foreach}
  {else}
    {* Ak bude treba zobraziť niečo v prípade chýbajúceho aktualneho projektu *}
  {/if}
</div>